@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  width: 100%;
  height: auto;
}
h1 {
  text-align: start;
  margin-left: 45px;
}
.navbar {
  padding: 2rem;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.parrafo {
  text-align: start;
  margin-left: 45px;
}
.direccion {
  text-align: start;
  margin-left: 45px;
}
.proyecto {
  margin-left: 45px;
}
.emerald-500 {
  color: #10b981;
}
.grey-600 {
  color: #4b5563;
}
.icon-redes {
  margin-left: 45px;
}
