@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.defaul {
  color: #ffffff;
}
.emerald-500 {
  color: #10b981;
}
.hero-image {
  padding: 64px 16px 64px 16px;
}
.badge {
  width: 200px;
  height: 200px;
}
.grey-50 {
  color: #f9fafb;
}
.grey-200 {
  color: #e5e7eb;
}
.grey-600 {
  color: #4b5563;
}
.grey-950 {
  color: #030712;
}
.navbar {
  padding: 2rem;
  background-color: #e5e7eb;
}
/*.row {
  /* border-radius: 12px;
  background-color: #e5e7eb;
}*/
