@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.defaul {
  color: #ffffff;
}
.emerald-500 {
  color: #10b981;
}
.hero-image {
  padding: 64px 16px 64px 16px;
}
.img-pic {
}
